.metadata
tmp/**
.DS_Store
*.tmp
*.bak
tmp/**/*
*.swp
*~.nib
Thumbs.db
Desktop.ini
*~
*.apk
bin
gen
local.properties
*.jar 
# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# generated GUI files
*R.java
